/*BLOG*/
	
	
	.hand-blog{
		padding-top: 180px;
	    background: #fff;
	}
	.hand-post-blog h3{
	    border-top: solid 1px #D8D8D8;
	    max-width: 1200px;
	    margin: 100px auto 0;
	}
		.hand-blog .hand-blog-destaque{
			border-top: solid 1px rgba(41, 41, 41, 0.17);
			background-color: #F4F4F4;
			text-align: right;
		}
			.hand-blog .hand-blog-destaque article{
				display: inline-block;
				text-align: left;
				width: 100%;
				max-width: 600px;
			}
				.hand-blog .hand-blog-destaque article p{
					color: #C5A36A;	
					font-family: Syncopate;	
					font-size: 18px;	
					line-height: 19px;
					padding-top: 95px;
					padding-bottom: 40px;
				}
					.hand-blog .hand-blog-destaque article h2{
						color: #000000;	
						font-family: Syncopate;	
						font-size: 35px;	
						font-weight: bold;	
						line-height: 44px;
						padding-bottom: 40px;
					}
					.hand-blog .hand-blog-destaque article a{
						height: 55px;
						border: 2px solid #000000;
						border-radius: 4px;
						display: block;
						font-family: var(--hand_OpenSans);
						text-align: center;
						color: #000000;
						text-transform: uppercase;
						font-weight: 600;
						font-size: 14px;
						line-height: 50px;
						display: inline-block;
						padding: 0 22px;
						text-decoration: none;
						margin-bottom: 10px;
						height: 55px;
						width: 167px;
					}
			.hand-blog .hand-blog-destaque figure{
				
			}
				.hand-blog .hand-blog-destaque figure a{
				
				}	
					.hand-blog .hand-blog-destaque figure a img{
				
					}
		.hand-post-blog .hand-containerLarge .topo{
			display: flex;
	       flex-direction: row-reverse;
	       justify-content: space-between;
	       flex-wrap: wrap;
	       margin: 0;
		}
			.hand-post-blog .hand-containerLarge .topo .divSelect{
				max-height: 37px;
				max-width: 135px;
				width: 100%;
				border: 1px solid #000;
				border-radius: 4px;
				transform: rotate(360deg);
				margin: 47px 25px 0 0px;
				position: relative;
			}
			.hand-post-blog .hand-containerLarge .topo .divSelect:before{
				content: "";
				display: block;
				background-color: #fff;
				background-image: url(../img/chevron-down.svg);
				width: 17px;
				height: 16px;
				position: absolute;
				right: 7px;
				top: 10px;
				/* background-color: #fff; */
				background-repeat: no-repeat;
				background-position: center;
			}
				.hand-post-blog .hand-containerLarge .topo .divSelect select{
					height: 37px;
					max-width: 100%;
					width: 100%;
					display: block;
					outline: none;
					border:none;
					border-radius: 4px;
					color: #000;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 600;
					line-height: 19px;
					opacity: 0.3;
					padding:0 10px;
					-webkit-appearance: none;  /* Remove estilo padrão do Chrome */
					-moz-appearance: none; /* Remove estilo padrão do FireFox */
					appearance: none;
					
				}

			
			.hand-paginador{
				background-color: #F4F4F4;
			}
				.hand-paginador .hand-btn-left{
					padding-top: 83px;
					padding-bottom: 83px;
					text-align: left;
					display: inline-block;
					width: 100%;
					max-width: 432px;
				}
					.hand-paginador .hand-btn-left a{
						text-decoration: none;
						display: block;
					}
					.hand-paginador .hand-btn-left a:after , .hand-paginador .hand-btn-right a:after{
						content: '';
						background-image: url(../img/arrow-paginador.svg);
						position: absolute;
						width: 45px;
						height: 31px;
						right: 50px;
						background-repeat: no-repeat;
						top: 100px;

					}
						.hand-paginador a span{
							color: #000000;
							font-family: Syncopate;
							font-size: 18px;
							line-height: 19px;
							padding-bottom: 8px;
							display: block;
						}
							.hand-paginador a p{
								color: #000000;	
								font-family: Syncopate;	
								font-size: 18px;	
								font-weight: bold;	
								line-height: 19px;
							}
				.hand-paginador .hand-btn-right{
					background-color: #C5A36A;
					padding-top: 83px;
					padding-bottom: 83px;
				    padding-left: 80px;
				}
					.hand-paginador .hand-btn-right a{
						text-decoration: none;
						display: block;
					}
					.hand-paginador .hand-btn-right a:after{
						background-image: url(../img/arrow-left-paginador.svg);
						transform: rotate(180deg);

						

					}

						.hand-paginador .hand-btn-right a span{
							color: #fff;
						}
							.hand-paginador .hand-btn-right a p{
								color: #fff;
							}
/*PÁGINA DE POST*/
	.hand-post{
		padding-top: 180px;
		background: #fff;

	}	
		.hand-post .hand-title-sessao-post{
			background-color: #F4F4F4;
			height: 340px;
			overflow: hidden;
		}
			.hand-post .hand-title-sessao-post .col-md-6{
				
				position: relative;
			}
			.hand-post .hand-title-sessao-post .col-md-6:before{
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background: rgba(41, 41, 41, 0.17);
				max-width: 605px;
			}
			.hand-post .hand-title-sessao-post figure{
		
			}
				.hand-post .hand-title-sessao-post figure img{
			
				}
		.hand-post .hand-title-sessao-post .hand-title-post{
			max-width: 760px;
			margin: 0 auto;
			padding-top: 59px;
			padding-left: 20px;
		}
			.hand-post .hand-title-sessao-post .hand-title-post span{
				color: #C5A36A;
				font-family: Syncopate;
				font-size: 16px;
				line-height: 16px;
				padding-bottom:29px;
				display: block;
			    max-width: 500px;
			    position: relative;
			}
			.hand-post .hand-title-sessao-post .hand-title-post span:before{
				content: "";
				display: block;
				background-image: url(../img/bookmark.svg);
				width: 14px;
				height: 16px;
				background-repeat: no-repeat;
				position: absolute;
				right: 0;
			}
			.hand-post .hand-title-sessao-post .hand-title-post>p{
				color: #000000;
				font-family: Syncopate;
				font-size: 20px;
				font-weight: bold;
				line-height: 32px;
				margin-bottom: 35px;
			}
		.hand-post .hand-title-sessao-post .hand-autor-post figure{
		
		}
			.hand-post .hand-title-sessao-post .hand-autor-post figure img{
				display: block;
				max-width: 59px;
				width: 100%;
			}
		.hand-post .hand-title-sessao-post .hand-autor-post .hand-info-autor{
			padding-top: 8px;
			padding-left: 10px;
		}
			.hand-post .hand-title-sessao-post .hand-autor-post .hand-info-autor h2{
				transform: rotate(360deg);
				color: #000000;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
			}
			.hand-post .hand-title-sessao-post .hand-autor-post .hand-info-autor p{
				opacity: 0.5;
				transform: rotate(360deg);
				color: #000000;
				font-family: "Open Sans";
				font-size: 12px;
				font-weight: 600;
				line-height: 17px;
			}

	.hand-post .hand-redes-sociais{
		
        position: relative;


	}
		.hand-post .hand-redes-sociais ul{
			position: fixed;
           top: 48%;
           display: none;;
		}
			.hand-post .hand-redes-sociais ul li{
				position: relative;
			}	
            	.hand-post .hand-redes-sociais ul li a{
			    }
			    .hand-post .hand-redes-sociais ul li a:before{
			    	content: "";
					display: block;
					width: 14px;
					height: 16px;
					background-repeat: no-repeat;
					position: absolute;
					right: 0;
					left: 0;

			    }
			    .hand-post .hand-redes-sociais ul li a.twitter:before{
			    	background-image: url(../img/bookmark.svg);

			    }
			    .hand-post .hand-redes-sociais ul li a.facebook:before{
			    	background-image: url(../img/bookmark.svg);
			    	top: 28px;

			    }
			    .hand-post .hand-redes-sociais ul li a.links:before{
			    	background-image: url(../img/bookmark.svg);
			    	top: 55px;

			    }
	.hand-post .hand-content-conteudo{
		padding-top: 80px;
	}
		.hand-post .hand-content-conteudo p{
			opacity: 0.5;
			color: #000000;
			font-family: "Open Sans";
			font-size: 16px;
			line-height: 39px;
		}
			.hand-post .hand-content-conteudo img{
				margin: 20px 0;
				display: inline-block;
			}	
	.hand-post .hand-comentarios-posts{
		padding-top: 71px;
	}	
		.hand-post .hand-comentarios-posts h6{
			color: #000000;
			font-family: Syncopate;
			font-size: 14px;
			font-weight: bold;
			line-height: 23px;
		}
		.hand-post .hand-comentarios-posts .comment-reply-title{
			color: #000000;
			font-family: Syncopate;
			font-size: 14px;
			font-weight: bold;
			line-height: 23px;
		}
		.hand-post .hand-comentarios-posts .comment-reply-title:after{
			content: "O seu endereço de e-mail não será publicado. Campos obrigatórios são marcados com *";
			display: block;
			color: #000000;
			font-family: "Open Sans";
			font-size: 16px;
			line-height: 22px;
			font-weight: 500;
			margin-bottom: 0;
			margin-top: 20px;
		}
		.hand-post .hand-comentarios-posts p{
			color: #000000;	
			font-family: "Open Sans";	
			font-size: 16px;	
			line-height: 22px;
			margin-top: 20px;
		}
		.hand-post .hand-comentarios-posts form.comment-form{
			position: relative;
		}
			.hand-post .hand-comentarios-posts form.comment-form input[type="submit"]{
				background-image: url(../img/arrow-right-submit.svg);
				width: 14px;
				background-color: transparent;
				color: transparent;
				border: none;
				position: absolute;
				right: 26px;
				top: 56px;
				background-repeat: no-repeat;
				background-size: cover;
				height: 14px;
				opacity: 1;

			}
		.hand-post .hand-comentarios-posts textarea#comment{
			max-width: 926px;
			display: block;
			width: 100%;
		
			outline: none;
			border: 1px solid #000000;
			border-radius: 4px;
			opacity: 0.3;
			transform: rotate(360deg);
			color: #000000;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 600;
			line-height: 19px;
			min-height: 50px;
			padding: 10px;
		}
		label[for="comment"]{
			display: none;
		}
		.comment-form-comment{}
			.hand-post .hand-comentarios-posts form input{
				max-width: 926px;
				display: block;
				width: 100%;
				outline: none;	
				border: 1px solid #000000;	
				border-radius: 4px;
				opacity: 0.3;	
				transform: rotate(360deg);	
				color: #000000;	
				font-family: "Open Sans";	
				font-size: 14px;	
				font-weight: 600;	
				line-height: 19px;
				height: 50px;
				padding: 10px;
			}
@media(max-width: 1350px){
	.hand-blog .hand-blog-destaque article h2 {
	    font-size: 25px;
	    line-height: 30px;
	}
}
@media(max-width: 525px){
	.hand-post .hand-title-sessao-post .hand-title-post>p{
		font-size: 17px;
		line-height: 25px;
	}
	.hand-post .hand-title-sessao-post .hand-title-post>p br{
		display: none;
	}
	.hand-post .hand-title-sessao-post .hand-title-post {
	    padding-top: 30px;
	    padding-left: 30px;
	}
}