/*HAND PROD MOD 7*/
	.hand-prod-mod-7{

	}
		.hand-prod-mod-7 .hand-branding{
			padding: 7.25em 0 ;
		}
			.hand-prod-mod-7 .hand-branding .row{

			}	
				.hand-prod-mod-7 .hand-branding .row figure{
					text-align: right;
				}
					.hand-prod-mod-7 .hand-branding .row figure img{
						width: 100%;
						max-width: 800px;
						display: inline-block;
					}
			.hand-prod-mod-7 .hand-branding .row article{
				padding: 0;
				max-width: 485px;
				width: 100%;
				margin: 15.625em 8.25em 0 auto;
			}
				.hand-prod-mod-7 .hand-branding .row article h2,
				.hand-prod-mod-7 .hand-brand-design article h2,
				.hand-prod-mod-7 .hand-brand-design .div-dna-brand-concept h2{
					color: #000000;
					font-family: Syncopate;
					font-size: 2.188em;
					font-weight: bold;
					line-height: 46px;
				}
				.hand-prod-mod-7 .hand-branding .row article p,
				.hand-prod-mod-7 .hand-brand-design article p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 1em;
					line-height: 2em;

				}
				.hand-prod-mod-7 .hand-branding .row article h3,
				.hand-prod-mod-7 .hand-brand-design article h3{
					color: #1E1E1E;
					font-family: Syncopate;
					font-size: 1.125em;
					line-height: 2.063em;
					padding: 1.75em 0;
				}
				.hand-prod-mod-7 .hand-branding .row article ul{

				}
					.hand-prod-mod-7 .hand-branding .row article ul li{
						display: block;
						font-weight: bold;
					}
.hand-prod-mod-7 .hand-brand-design{
	background-color: #1E1E1E;
	position: relative;
	padding: 116px 0 576px;
}
.hand-prod-mod-7 .hand-brand-design::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	height: 712px;
	max-width: 1913px;
	display: block;
	background-image: url(../img/bk.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.hand-prod-mod-7 .hand-brand-design .hand-containerLarge{
	position: relative;
}
.hand-prod-mod-7 .hand-brand-design ul{
	display: none;
}
.hand-prod-mod-7 .hand-brand-design article h2{
	margin: 0 0 28px;
	color: #FFFFFF;
}
.hand-prod-mod-7 .hand-brand-design .div-dna-brand-concept h2{
	font-size: 1.563em;
	color: #FFFFFF;
	margin: 176px 0 0;
}
.hand-prod-mod-7 .hand-brand-design .brand-concept{
	margin: 30px 0 0;
}
.hand-prod-mod-7 .hand-brand-design .brand-concept li{
	font-size: 1em;
	font-family: "Open Sans";
	line-height: 22px;
	color: #FFFFFF;
	margin: 0 0 20px;
	position: relative;
	padding-left: 42px;
}
.hand-prod-mod-7 .hand-brand-design .brand-concept li::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	background-size: 15px;
	background-position: center;
	background-color: #F6F6F6;
	border-radius: 100%;
	background-repeat: no-repeat;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hand-prod-mod-7 .hand-brand-design .brand-concept li:nth-child(1)::before{
	background-image: url('../img/monitor@1,5x.svg');
}
.hand-prod-mod-7 .hand-brand-design .brand-concept li:nth-child(2)::before{
	background-image: url('../img/send (2)@1,5x.svg');
}
.hand-prod-mod-7 .hand-brand-design .brand-concept li:nth-child(3)::before{
	background-image: url('../img/pie-chart (3)@1,5x.svg');
}
.hand-prod-mod-7 .hand-brand-design .brand-concept li:nth-child(4)::before{
	background-image: url('../img/award@1,5x.svg');
}
.hand-prod-mod-7 .hand-brand-design .brand-concept li:nth-child(5)::before{
	background-image: url('../img/grid@1,5x.svg');
}
.hand-prod-mod-7 .hand-brand-design article p, .hand-prod-mod-7 .hand-brand-design article h3{
	padding: 0;
	display: inline-block;
	width: 100%;
	max-width: 49%;
	vertical-align: top;
}
.hand-prod-mod-7 .hand-brand-design article p{
	padding-right: 10px;
	color: rgba(255, 255, 255, 0.5);
}
.hand-prod-mod-7 .hand-brand-design article h3{
	padding-left: 60px;
	color: #FFFFFF;
}
.hand-prod-mod-7 .hand-post-blog{

}
.hand-prod-mod-7 .hand-post-blog .grid-post{
	padding-top: 215px;
}
.hand-prod-mod-7 .hand-info-prod{
	padding-top: 120px;
}

@media(max-width: 1200px){
	.hand-prod-mod-7 .hand-branding .row article{
		margin: 6.625em 8.25em 0 auto;
	}
	.hand-prod-mod-7 .hand-branding {
		padding: 7.25em 30px;
	}
}

@media(max-width: 991px){
	.hand-prod-mod-7 .hand-branding .row article{
		padding: 0;
		margin: 0 auto;
	}
	.hand-prod-mod-7 .hand-branding .row figure img{
		max-width: 560px;
		margin: 30px 0 0;
	}
	.hand-prod-mod-7 .hand-branding .row figure {
		text-align: center;
	}
	.hand-prod-mod-7 .hand-brand-design {
		padding: 116px 0 436px;
	}
	.hand-prod-mod-7 .hand-brand-design .div-dna-brand-concept h2 {
		margin: 86px 0 0;
	}
}
@media(max-width:768px){
	.hand-prod-mod-7 .hand-branding .row article h3 {
	    padding-top: 23px;
	    padding-bottom: 47px;
	}
	.hand-prod-mod-7 .hand-brand-design {
		padding: 116px 0 466px;
	}
	.hand-prod-mod-7 .hand-brand-design article p, .hand-prod-mod-7 .hand-brand-design article h3 {
		max-width: 100%;
		padding: 0 !important;
	}
	.hand-prod-mod-7 .hand-brand-design article p {
		margin: 0 0 20px;
	}
	.hand-prod-mod-7 .hand-brand-design .div-dna-brand-concept h2 {
		margin: 60px 0 0;
	}
	.hand-prod-mod-7 .hand-branding {
		padding: 5.25em 30px;
	}
	.hand-prod-mod-7 .hand-post-blog .grid-post{
		padding-top: 85px;
	}
	.hand-prod-mod-7 .hand-info-prod {
		padding-top: 70px;
	}
}

@media(max-width:680px){
	.hand-prod-mod-7 .hand-brand-design::before {
		height: 530px;
	}
	.hand-prod-mod-7 .hand-brand-design {
		padding: 116px 0 336px;
	}
}

@media(max-width:500px){
	.hand-prod-mod-7 .hand-brand-design::before{
		display: none;
	}
	.hand-prod-mod-7 .hand-brand-design .brand-concept{
		display: block;
	}
	.hand-prod-mod-7 .hand-brand-design {
		padding: 66px 0;
	}
}

@media(max-width:425px){

}
