.pg-websites{

}
	.pg-websites .hand-destaque-prod {
		padding-top: 223px;
		background-color: var(--hand_templateClara);
		height: 786px;
		overflow: hidden;
		width: 100%;
		position: relative;
		background-image: url(../img/websitefundo.svg);
		background-repeat: no-repeat;
		background-position: -203px 0%;
	}
	.pg-websites section.hand-conteudo-prod{
	   margin-bottom: 127px;
	}
		.pg-websites section.hand-conteudo-prod{
	
		}
			.pg-websites section.hand-conteudo-prod article{
		
			}
				.pg-websites section.hand-conteudo-prod article .hand-sub-title{
		
				}
					.pg-websites section.hand-conteudo-prod article .hand-sub-title h3{
		
					}
		.pg-websites section.hand-conteudo-prod article .hand-texto-prod.hand-formatacao-texto{
		
		}
			.pg-websites section.hand-conteudo-prod article h4{
				font-weight: 100;
				color: var(--hand_fontEscura);
				font-family: var(--hand_Syncopate);
				font-size: 1.125em;
				line-height: 2em;
			    margin-bottom: 3.375em;
				display: block;
			    max-width: 725px;
			}
			.pg-websites section.hand-conteudo-prod article .hand-texto-prod.hand-formatacao-texto p{
				max-width: 380px;	
				opacity: 0.4;	
				color: #000000;	
				font-family: "Open Sans";	
				font-size: 16px;	
				line-height: 32px;
			}
		.pg-websites section.hand-conteudo-prod article .hand-texto-prod.formatacaoLista{
	
		}
			.pg-websites section.hand-conteudo-prod article .hand-texto-prod.formatacaoLista p{
				max-width: 380px;	
				opacity: 0.4;	
				color: #000000;	
				font-family: "Open Sans";	
				font-size: 16px;	
				line-height: 32px;
			}
	.pg-websites section.sessao-descricao-geral-website{
		
	}
		.pg-websites section.sessao-descricao-geral-website .hand-containerFull{
			background-color: #F4F4F4;
		}
			.pg-websites section.sessao-descricao-geral-website article{
				
			}
				.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-left{
					display: inline-block;
				    max-width: 590px;
					text-align: left;
					padding-top: 135px;
					width: 100%;
				}
					.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-left h2{
						color: #1E1E1E;
						font-family: Syncopate;
					    font-size: 1.763em;
						font-weight: bold;
						line-height: 1.75em;

					}
					.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-left ul{
						padding-top: 57px;
					}
						.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-left ul li{
							min-height: 96px;	
							max-width: 100%;	
							color: #797979;	
							font-family: "Open Sans";	
							font-size: 16px;	
							line-height: 32px;
							padding-bottom:2.5em; 
							position: relative;
							padding-left: 36px;
						}
							.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-left ul li:before{
								height: 18px;	
								width: 18px;
								content: "";
								display: block;
								border-radius: 100%;
								position: absolute;
								left: 0;
								top: 10PX;
								background-image: url(../img/checkWebSite.svg);
							}
				.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-right{
					background-color: #1E1E1E;
					min-height: 426px;
				}
					.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-right figure{
						display: block;
						max-width: 804px;
					}
						.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-right figure img{
							display: block;
							width: 100%;
						}
							.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-right .sessao-descricao-geral-website-texto-right-area-text{
								min-height: 426px;
								padding: 4.688em;
							}
								.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-right p{
									color: #FFFFFF;	
									font-family: Syncopate;	
									font-size: 18px;	
									line-height: 33px;
									margin-bottom: 2.625em;
								}
								.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-right ul{
								}	
									.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-right ul li{
										height: 22px;
										transform: rotate(360deg);
										color: #FFFFFF;
										font-family: "Open Sans";
										font-size: 16px;
										font-weight: 600;
										line-height: 22px;
										display: inline-block;
										min-width: 223px;
										margin-bottom: 1.563em;
										padding-left: 16px;
										position: relative;
									}
										.pg-websites section.sessao-descricao-geral-website article .sessao-descricao-geral-website-texto-right ul li:before{
											height: 5px;	
											width: 5px;	
											background-color: #C5A36A;
											content: "";
											display: block;
											border-radius: 100%;
											position: absolute;
											left: 0;
											top: 50%;
											transform: translateY(-50%);
										}

							.pg-websites .hand-destaque-prod{
							   
							    margin-bottom: 151px;
							}
							.pg-websites .hand-destaque-prod article p{
								padding-bottom: 186px;
							    margin-bottom: 20px;
							}
	.pg-websites section.sessao-metodologia-website{
		
	}
		.pg-websites section.sessao-metodologia-website h2{
			color: #000000;	
			font-family: Syncopate;	
			font-size: 5em;	
			font-weight: bold;	
			line-height: 2.875em;
			text-align: center;
			padding-top: 170px;
		}
		.pg-websites section.sessao-metodologia-website .sessao-metodologia-website-descricao{
			max-width: 987px;
			margin: 0 auto;
		}
			.pg-websites section.sessao-metodologia-website .sessao-metodologia-website-descricao h3{
				font-weight: 100;
				color: var(--hand_fontEscura);
				font-family: var(--hand_Syncopate);
				font-size: 1.125em;
				line-height: 2em;
				margin-bottom: 1.75em;
				display: block;
			}
			.pg-websites section.sessao-metodologia-website .sessao-metodologia-website-descricao p{
				opacity: 0.4;
				color: #000000;
				font-family: "Open Sans";
				font-size: 16px;
				line-height: 22px;
			}
			.pg-websites section.sessao-metodologia-website figure{
				max-width: 1066px;
				margin:138px auto 138px;
				display: block;
			}
				.pg-websites section.sessao-metodologia-website figure img{
					width: 100%;
					display: block;
					margin:0 auto;
				}

		.pg-websites section.sessao-metodologia-website .sessao-metodologia-website-descricao-texto{
			padding-left: 1.875em;
		}
			.pg-websites section.sessao-metodologia-website .sessao-metodologia-website-descricao-texto h4{
				font-weight: 100;
				color: var(--hand_fontEscura);
				font-family: var(--hand_Syncopate);
				font-size: 1.125em;
				line-height: 2em;
				margin-bottom: 1.75em;
				display: block;
			}
				.pg-websites section.sessao-metodologia-website .sessao-metodologia-website-descricao-texto ul{
				
				}
					.pg-websites section.sessao-metodologia-website .sessao-metodologia-website-descricao-texto ul li{
						height: 22px;
						transform: rotate(360deg);
						color: #000;
						font-family: "Open Sans";
						font-size: 16px;
						font-weight: 600;
						line-height: 22px;
						display: inline-block;
						min-width: 223px;
						margin-bottom: 1.563em;
						padding-left: 16px;
						position: relative;
					}
						.pg-websites section.sessao-metodologia-website .sessao-metodologia-website-descricao-texto ul li:before{
							height: 5px;
							width: 5px;
							opacity: 0.2;	
							background-color: #000000;
							content: "";
							display: block;
							border-radius: 100%;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
						}