/*OLÁ, SOMOS A GRAN*/
	.pg-gran{
		
	}
		.pg-gran .hand-titulo-page{
			padding-top: 218px;
			background-color: #F4F4F4;
			min-height: 580px;
		}	
			.pg-gran .hand-titulo-page span{
				color: #C5A36A;
				font-family: Syncopate;
				font-size: 18px;
				line-height: 19px;
			    padding-bottom: 20px;
			    display: block;
			}	
			.pg-gran .hand-titulo-page h2{
				color: #000000;
				font-family: Syncopate;
				font-size: 80px;
				font-weight: bold;
				line-height: 86px;
			    max-width: 713px;
			}	
			.pg-gran .hand-titulo-page p{
				opacity: 0.6;
				color: #000000;
				font-family: "Open Sans";
				font-size: 16px;
				letter-spacing: 1px;
				line-height: 22px;
				padding-top: 15px;

			}	
		.pg-gran .hand-conteudo-gran-area{
			height: 900px;
		}		
			.pg-gran .hand-conteudo-gran-area{
		
			}
				.pg-gran .hand-conteudo-gran-area .hand-conteudo-gran{
					text-align: left;
					max-width: 606px;
					display: inline-block;
					width: 100%;
				}
					.pg-gran .hand-conteudo-gran-area .hand-conteudo-gran h2{
						color: #000000;
						font-family: Syncopate;
						font-size: 35px;
						font-weight: bold;
						line-height: 46px;
						padding-top: 92px;
						padding-bottom:58px;
					}
					.pg-gran .hand-conteudo-gran-area .hand-conteudo-gran p{
						opacity: 0.5;
						color: #000000;
						font-family: "Open Sans";
						font-size: 16px;
						line-height: 32px;
						margin-bottom: 20px;
					}
					.pg-gran .hand-conteudo-gran-area .hand-conteudo-gran h3{
						color: #000000;
						font-family: Syncopate;
						font-size: 18px;
						line-height: 19px;
						padding-top: 50px;
					}
					.pg-gran .hand-conteudo-gran-area .hand-conteudo-gran ul{
						max-width: 416px;
						padding-top: 54px;
					}
						.pg-gran .hand-conteudo-gran-area .hand-conteudo-gran ul li{
							display: inline-block;
							font-weight: bold;
						}
						.pg-gran .hand-conteudo-gran-area figure{
							text-align: right;
						}
							.pg-gran .hand-conteudo-gran-area figure img{
								position: relative;
								top: -360px;
								display: inline-block;
							}
		.pg-gran .hand-info-description-gran{
			background-color: #F4F4F4;
			padding-top: 62px;
			padding-bottom: 110px;
		    margin-bottom: 194px;
		}
			.pg-gran .hand-info-description-gran figure{
				max-width: 376px;
				margin: 0 auto;
				text-align: left;
				padding-top: 10px;
							
			}
				.pg-gran .hand-info-description-gran figure img{
			
				}
			.pg-gran .hand-info-description-gran .hand-info-titulo-gran{
				max-width: 376px;
				margin: 0 auto;
				text-align: left;
				padding-top: 35px;
			}
				.pg-gran .hand-info-description-gran .hand-info-titulo-gran h3{
					color: #000000;
					font-family: Syncopate;
					font-size: 25px;
					font-weight: bold;
					line-height: 46px;
					
				}
			.pg-gran .hand-info-description-gran .hand-info-description-gran-conteudo{
	
			}
				.pg-gran .hand-info-description-gran .hand-info-description-gran-conteudo p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 16px;
					line-height: 39px;
					max-width: 720px;
				}
		.pg-gran .hand-que-fazemos-gran{

		}	
			.pg-gran .hand-que-fazemos-gran>h3{
				color: #000000;
				font-family: Syncopate;
				font-size: 80px;
				font-weight: bold;
				line-height: 86px;
				text-align: center;
				padding-top: 27px;
				margin-bottom: 10px;
			}
			.pg-gran .hand-que-fazemos-gran>p{
				color: #000000;
				font-family: Syncopate;
				font-size: 18px;
				line-height: 19px;
				text-align: center;
			}
			.pg-gran .hand-que-fazemos-escription-gran{
				padding-top: 153px;
			}
				.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text{
					padding-right: 80px;
				}
					.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text.img{
						padding-right: 0;
					}
					.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text.text-top{
						padding-top: 80px;
                        padding-bottom: 40px;
					}
				.pg-gran .hand-que-fazemos-escription-gran .corrcaoPadding{
				    padding-left: 82px;
				    padding-top: 82px;
				    padding-bottom: 82px;
				}	
				.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text.bottom-text{
					max-width: 516px;
				}
				.pg-gran .hand-que-fazemos-escription-gran .row-bottom{
					background-color: #F4F4F4;
					display: flex;
				
				}
					.pg-gran .hand-que-fazemos-escription-gran .row-bottom .col-sm-6{
						overflow:hidden;
					}
				.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text.background-right{
					background-color: #1E1E1E;
					padding-top: 79px;
					padding-left: 64px;
					padding-right: 73px;
					padding-bottom: 78px;
				}
					.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text img.icone{
                        padding-bottom: 90px;
                        width: 40px;
					}
					.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text h3{
						color: #000000;
						font-family: Syncopate;
						font-size: 18px;
						font-weight: bold;
						line-height: 19px;
						padding-bottom: 27px;
						padding-right: 80px;
					}
					.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text.background-right h3{
						color: #fff;
						padding-bottom: 25px;
					}
					.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text h4{
						color: #000000;
						font-family: Syncopate;
						font-size: 25px;
						font-weight: bold;
						line-height: 33px;
						padding-bottom: 36px;
					}
					.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text p{
						opacity: 0.5;
						color: #000000;
						font-family: "Open Sans";
						font-size: 16px;
						line-height: 28px;
					}
					.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text.background-right p{
						color: #fff;
					}
					.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text figure{

					}
						.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text figure img{
							
							max-width: 150%;
						}
				.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text h3{

				}
				.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text span{
					color: #000000;
					font-size: 18px;
					line-height: 26px;
					font-family: Syncopate;
					padding-bottom: 28px;
					display: block;
					max-width: 325px;

				}	
				.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text p{

				}	
		.pg-gran .hand-que-fazemos-gran-servicos{
		    background-color: #1E1E1E;
		    padding-top: 153px;
		    padding-bottom: 153px;
		}	
			.pg-gran .hand-que-fazemos-gran-servicos .col-sm-4{

			}
			    .pg-gran .hand-que-fazemos-gran-servicos .col-sm-4>div{
					position: relative;
					padding: 0 40px;
				}
				.pg-gran .hand-que-fazemos-gran-servicos .col-sm-4 figure{
					position: absolute;
					left: -5%;
					top: 0;
					bottom: 0;

				}
				
					.pg-gran .hand-que-fazemos-gran-servicos .col-sm-4>div img{ 

					}
					.pg-gran .hand-que-fazemos-gran-servicos .col-sm-4>div h2{ 
						color: #FFFFFF;
						font-family: Syncopate;
						font-size: 25px;
						font-weight: bold;
						line-height: 26px;
						padding-bottom: 54px;
					}
					.pg-gran .hand-que-fazemos-gran-servicos .col-sm-4>div p{ 
						opacity: 0.5;	
						color: #FFFFFF;	
						font-family: "Open Sans";	
						font-size: 14px;	
						line-height: 28px;
					    min-height: 180px;
					}
					.pg-gran .hand-que-fazemos-gran-servicos .col-sm-4>div ul{ 

					}
						.pg-gran .hand-que-fazemos-gran-servicos .col-sm-4>div ul li{ 
							display: block;
							color: #fff;
						}
						.pg-gran .hand-que-fazemos-gran-servicos .col-sm-4>div ul li:before{
							background-color: #fff;
						}

.pg-gran .hand-info-prod{
	padding-top: 100px;
}
	.pg-gran .hand-info-prod h3{
		padding-top: 0;

	}
	.pg-gran .hand-info-prod a{
		width: 208px;
		margin-top: 12px;


	}
	.pg-gran .hand-info-prod a.left{
		margin-right: 15px;


	}
		.pg-gran .hand-info-prod a:hover{
			background-color:  #000000;
            color:  #fff;
		}


@media(max-width: 1820px){
	.pg-gran .hand-conteudo-gran-area figure img{
	    max-width: 689px;
	}
}
@media(max-width: 1640px){
	.pg-gran .hand-conteudo-gran-area figure img{
	    max-width: 590px;
	}
}
@media(max-width: 1460px){
	.pg-gran .hand-conteudo-gran-area figure img{
	      max-width: 525px;
	}
}
@media(max-width: 1300px){
	.pg-gran .hand-conteudo-gran-area figure img {
	    max-width: 446px;
	}
	.pg-gran .hand-titulo-page h2 {
	    font-size: 61px;
	    line-height: 61px;
	}
	.pg-gran .hand-titulo-page {
	    min-height: 517px;
	}
}
@media(max-width: 1000px){
	.pg-gran .hand-conteudo-gran-area figure img {
	    max-width: 400px;
	}
	.pg-gran .hand-titulo-page h2 {
	    font-size: 41px;
	    line-height: 52px;
	}
}
@media(max-width: 991px){
	.pg-gran .hand-conteudo-gran-area figure img{
		top: 0;
	}
	.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text{
		padding-right: 0;
	}
	.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text.background-right{
		padding: 30px
	}
	.pg-gran .hand-conteudo-gran-area .hand-conteudo-gran h2 {
	   
	    font-size: 30px;
	    line-height: 30px;
	    padding-top: 25px;
	    padding-bottom: 25px;
	}
	.pg-gran .hand-que-fazemos-gran>h3{
		 font-size: 25px;
	    line-height: 25px;
	}
	.pg-gran .hand-conteudo-gran-area .hand-conteudo-gran{
		max-width: 100%;
		padding: 0 30px;
	}
	.pg-gran .hand-conteudo-gran-area .hand-conteudo-gran p br{
		display: none;
	}.pg-gran .hand-conteudo-gran-area{
		height: initial;
	}
	.pg-gran .hand-info-description-gran{
		padding: 0 20px;
		margin-bottom: 20px;
	}
	.pg-gran .hand-info-description-gran .hand-info-titulo-gran{
		max-width: 100%;
	}
	.pg-gran .hand-que-fazemos-escription-gran{
	    padding-top: 10px;
	}
	.pg-gran .hand-que-fazemos-escription-gran .hand-que-fazemos-escription-gran-text.text-top{
		padding-top: 10px
	}
}
@media(max-width: 768px){
	.pg-gran .hand-conteudo-gran-area figure img{
		display: none;
	}

}