/*PÁGINA O QUE FAZEMOS*/
div.pg.hand-oqueFazemos{

	background-color: #f7f7f7;
	}
	div.pg.hand-oqueFazemos{

	}
		div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos {
			background: url(../img/47.png);
			background-size: cover!important;
			background-position: 0 -45px!important;
			min-height: 900px;
		}
		header .hand-menu-home> ul.menu-nav{
		
		}

			div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article{
				max-width: 450px;
				max-width: 463px;
                padding: 43px 0;
                padding-top: 184px;
			}
				div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article figure{
					padding: 40px 0;
					max-width: 285px;
				}
					div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article figure img{
						
				    }
                div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article  p {
                	padding-bottom: 50px;
                	opacity: 0.5;
				    margin-bottom: 30px;

				}

				div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article  a {
				}
                div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article  a img {
					transform: rotate(270deg);
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					max-width: 88px;
					display: block;
					width: auto;
					height: 105px;
				}
        div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos{
        	padding: 60px 0;
        	padding-top: 100px;

        }
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-title-section{
		}

		div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-title-section{
		}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-title-section h2{
				color: var(--hand_fontEscura);
				font-family: var(--hand_Syncopate);
				font-size: 65px;
				font-weight: bold;
				line-height: 86px;
			}
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-descricao-oqueFazemos{
		}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-descricao-oqueFazemos p{
				opacity: 0.5;
			}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-title-servicos {
			}
				div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos  .hand-title-servicos h3{
					max-width: 503px;
					color: var(--hand_fontEscura) ;
					font-family: Syncopate;
					display: block;
					font-size: 18px;
					line-height: 33px;
					margin-top: 60px;
				}
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-lista-servicos-oferecidos{
			padding-top: 36px;
		}

			div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-lista-servicos-oferecidos ul{
				max-width: 420px;
				margin-bottom: 20px;
			}

				div.pg.hand-oqueFazemos .hand-oqueFazemos-servicos .hand-lista-servicos-oferecidos ul li{
					font-weight: bold;
				}
		div.pg.hand-oqueFazemos .hand-oqueFazemos-carrossel-fotos{
			position: relative;
		}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-carrossel-fotos .item{
				width: 100%;
				padding:10px;
			}
				div.pg.hand-oqueFazemos .hand-oqueFazemos-carrossel-fotos .item figure{
					max-width: 1258px;
					text-align: center;
					display: block;
					margin: 40px auto 40px;
				}
					div.pg.hand-oqueFazemos .hand-oqueFazemos-carrossel-fotos .item figure img{
						display: block;
						width: 100%;
						height: auto;
						margin:0 auto;


					}
			.botao-carrossel-projetos{
				position: relative;
				width: 100%;
				height: 100px;
			}
			div.pg.hand-oqueFazemos .botao-carrossel-projetos .botao.carrosselProjetosDireita{
				background-color: transparent;
				border: none;
				outline: none;
				position: absolute;
				right: 100px;
				top: -46px;
			}	
				div.pg.hand-oqueFazemos .botao-carrossel-projetos .botao.carrosselProjetosDireita img{
					transform: rotate(90deg);
					display: block;
					max-width: 36px;
					width: 100%;
				}
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia{
			
		}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia .hand-title-servico{
				
			}
				div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia .hand-title-servico h2{
					color: var(--hand_fontEscura) ;
					font-family: Syncopate;
					font-size: 40px;
					font-weight: bold;
					line-height: 46px;
					padding-bottom: 58px;
							
				}
			div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia article {				
							
			}div.pg.hand-oqueFazemos .hand-oqueFazemos-servSocialMedia article p{
				opacity: 0.5;
				margin-bottom: 30px;
							
			}
    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia{
    	padding: 60px 0;

    }

	    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel{
	    	display: block;
			text-align: right;

	    }
	    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel.rigth{
	    	text-align: left;

	    }
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel figure {

		    }
			    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel figure img {
					max-width: 602px;
					width: 100%;
					display: block;
			    }
			    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel.rigth figure img {
					max-width: 1225px;
					width: 100%;
					display: block;
			    }
			    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia .hand-social-cel.center figure img{
			    	max-width: 100%;
					width: 100%;
					display: block;
			    }
			    div.pg.hand-oqueFazemos .hand-oqueFazemos-detalheSocialMedia.chicano .hand-social-cel.center figure img{
					max-width: 602px;
					width: 100%;
					display: block;
					margin: 0 auto;
			    }
    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos{
    	margin-top: 200px;
    }
	    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos .hand-texto-depoimento{
	    	min-height: 668px;	
	    	width: 1258px;	
	    	border-radius: 2px;	
	    	background-color: #F1F1F1;
	    	padding: 170px 140px;

	    } 
	    	div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos figure{
	    		text-align: right;
	    		display: block;
	    	}
	    		div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos img{
					display: inline-block;
					max-width: 500px;
					width: 100%;
					position: relative;
					top: 50px;
	    		}
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos .hand-texto-depoimento p{
		    	min-height: 188px;	
		    	min-width: 963px;	
		    	color: var(--hand_fontPreta);	
		    	font-family: Times;
		    	font-size: 30px;	
		    	font-style: italic;	
		    	line-height: 47px;
                padding: 40px 0;
                position: relative;
		    }
			    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos .hand-texto-depoimento p:before{
			    	content: '"';
				    position: absolute;
				    min-height: 271px;
				    min-width: 134px;
				    opacity: 0.1;
				    color: #1E1E1E;
				    font-family: Syncopate;
				    font-size: 278px;
				    font-weight: bold;
				    left: -40px;
				    top: 8px;

			    	
			    }
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-depoimentos .hand-texto-depoimento span{
		    	min-height: 19px;
		    	min-width: 169px;	
		    	transform: rotate(360deg);	
		    	color: var(--hand_fontPreta);	
		    	font-family: var(--hand_OpenSans);	
		    	font-size:  var(--hand_sizeTextoMenor);	
		    	

		    }
    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface{
    	padding: 200px 0 0;

    } 
	    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface .hand-title-servico{
	    	
	    } 
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface .hand-title-servico h3{
		    	color: var(--hand_fontEscura);
				font-family: Syncopate;
				font-size: 40px;
				font-weight: bold;
				line-height: 46px;
				padding-bottom: 58px;		    	
						    } 
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface article{
	    	
	    }
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface article p{
		    	opacity: 0.5;
				margin-bottom: 30px;
				padding-right: 75px;
							
		    }
		div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface figure{
	    	
	    }
		    div.pg.hand-oqueFazemos .hand-oqueFazemos-servDesignInterface figure img{
				display: inline-block;
				height: auto;
				max-width: 100%;
		    }
	div.pg.hand-oqueFazemos .hand-proximoPost{

	}
		div.pg.hand-oqueFazemos .hand-proximoPost .info-proximo-post{
			font-size: 0;
			border-top: 1px solid #d8d8d8;
			padding: 95px 0 78px;
			margin: 155px 0 0;
		}
			div.pg.hand-oqueFazemos .hand-proximoPost .info-proximo-post .titulo-proximo-post, div.pg.hand-oqueFazemos .hand-proximoPost .info-proximo-post .resumo-proximo-post{
				display: inline-block;
				width: 100%;
				vertical-align: top;
			}
			div.pg.hand-oqueFazemos .hand-proximoPost .info-proximo-post .titulo-proximo-post{
				font-family: var(--hand_Syncopate);
				color: var(--hand_fontEscura);
				max-width: 60%;
			}
				div.pg.hand-oqueFazemos .hand-proximoPost .info-proximo-post .titulo-proximo-post span{
					font-size: 18px;
				}
				div.pg.hand-oqueFazemos .hand-proximoPost .info-proximo-post .titulo-proximo-post h3{
					font-weight: 600;
					font-size: 80px;
				}
			div.pg.hand-oqueFazemos .hand-proximoPost .info-proximo-post .resumo-proximo-post{
				max-width: 40%;
				padding: 28px 0 0;
			}
				div.pg.hand-oqueFazemos .hand-proximoPost .info-proximo-post .resumo-proximo-post p{
					color: var(--hand_fontPreta);
					opacity: .5;
					font-family: var(--hand_OpenSans);
					font-size: 14px;
					line-height: 30px;

				}
		div.pg.hand-oqueFazemos .hand-proximoPost .imagem-proximo-post{
			display: block;
		}
			div.pg.hand-oqueFazemos .hand-proximoPost .imagem-proximo-post figure{
				height: 220px;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
			}
				div.pg.hand-oqueFazemos .hand-proximoPost .imagem-proximo-post figure img{
					width: 100%;
				}
.single.single-projetos{
	overflow-x: hidden;
}
.single.single-projetos header .hand-menu-home{
	display: none;
}
.projetos-template-default footer{
    background-color: #f7f7f7;
}

.single-projetos.background-menu header.hand-header-internas .hand-menu-home ul li a{
	color: #fff;
}
.single-projetos.background-menu header.hand-header-internas figure img {
    filter: brightness( 100% );
}
.single-projetos.background-menu header .hand-button-menu-mobile button{
  filter: brightness( 100% );
}
.single-projetos.background-menu .hand-mega-menu{
     min-height:910px;
    
}
.single-projetos.background-menu .hand-mega-menu.slideDown{
	transform: translateY(-14%);
}


@media(max-width: 1700px){
	div.pg.hand-oqueFazemos .hand-destaque-oqueFazemos article figure {
    	padding: 13px 0;
    	max-width: 285px;
    }
}