/*QUEM sOMOS*/
	.hand-quem-somos{

	}
		.hand-quem-somos .hand-destaque-quem-somos{
			height: 770px;	
			background-color: #766AE7;
		    margin-bottom: 97px;
		}
			.hand-quem-somos .hand-destaque-quem-somos .hand-tittulo-destaque{
				padding-top: 303px;
			}
				.hand-quem-somos .hand-destaque-quem-somos .hand-tittulo-destaque span{
					color: #FFFFFF;	
					font-family: Syncopate;
					font-size: 18px;	
					line-height: 19px;
					display: block;
					padding-bottom: 40px;
				}
				.hand-quem-somos .hand-destaque-quem-somos .hand-tittulo-destaque h2{
					color: #FFFFFF;	
					font-family: Syncopate;	
					font-size: 35px;	
					font-weight: bold;	
					line-height: 44px;
					padding-bottom: 72px;
				}
				.hand-quem-somos .hand-destaque-quem-somos .hand-tittulo-destaque a{
					height: 55px;
					width: 208px;
					border: 2px solid #FFFFFF;
					border-radius: 4px;
					display: block;
					text-align: center;
					transform: rotate(360deg);
					color: #FFFFFF;
					font-family: "Open Sans";
					font-size: 16px;
					font-weight: 600;
					line-height: 22px;
					padding-top: 14px;
				}
		.hand-quem-somos  article{
			max-width: 600px;
			padding-right: 31px;
		}
			.hand-quem-somos  article h3{
				color: #000000;
				font-family: Syncopate;
				font-size: 25px;
				font-weight: bold;
				line-height: 46px;
				padding-bottom: 15px;
			}
				.hand-quem-somos  article span{
					color: #000000;
					font-family: Syncopate;
					font-size: 18px;
					line-height: 33px;
					display: block;
					padding-bottom: 50px;
				}
				.hand-quem-somos  article p{
					opacity: 0.5;	
					color: #000000;	
					font-family: "Open Sans";	
					font-size: 16px;	
					line-height: 32px;
				}
				.hand-quem-somos  article h4{
					color: #1E1E1E;	
					font-family: Syncopate;	
					font-size: 18px;	
					line-height: 19px;
					padding-top: 57px;
					padding-bottom: 47px;
				}
				.hand-quem-somos  article ul{

				}
					.hand-quem-somos  article.formatacaoLista ul li{
						display: block;
						font-weight: bold;
					}
    
    .hand-quem-somos .hand-container .formulario {
    	padding-top: 100px;
        margin-top: 15px;
        margin:0 auto;
    }
	    .hand-quem-somos .hand-container .formulario div input{
			margin-bottom: 10px;
			
			border: 1px solid #d7d7d7;
			border-radius: 4px;
			color: #000000;
			font-size: 14px;	
			font-weight: 600;

	    }
	    .hand-quem-somos .hand-container .formulario div input[type="submit"]{
	     	color: #fff;
	     	position: relative;
	     	float: initial;
	     	width: 285px;	
	     	text-align: initial;
     	    padding-left: 30px;
	     }
	     	.hand-quem-somos .hand-container .formulario div .btnDownload{
	     		position: relative;
	     		display: inline-block;
	     	}
	     	.hand-quem-somos .hand-container .formulario div .btnDownload:before{
				content: "";
				display: block;
				background-image: url(../img/download-cloud.svg);
				width: 58px;
				height: 54px;
				position: absolute;
				z-index: 9;
				right: 0;
				background-repeat: no-repeat;
				top: 15px;
	     	}
	    .hand-quem-somos .hand-container .formulario div select{
			margin-bottom: 10px;
			opacity: 0.5;
			position: relative;
			z-index: 1;
			background: transparent;

	    }
	    .hand-quem-somos .hand-container .formulario div .btnSelect{
	    	position: relative;
	    }
	    .hand-quem-somos .hand-container .formulario div .btnSelect:before{
			content: "";
			display: block;
			background-image: url(../img/chevron-down.svg);
			width: 27px;
			height: 28px;
			position: absolute;
			z-index: 9;
			right: 6px;
			background-repeat: no-repeat;
			top: 12px;
			background-color: #fff;
	    }
	    .hand-quem-somos .hand-container .formulario div select {
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    text-indent: 1px;
		    text-overflow: '';
		}
	    .hand-quem-somos .hand-container .formulario div input.btn-enviar{
            float: initial;
	        opacity: 1;

	    }
	    .hand-quem-somos .hand-container .formulario div input.btn-enviar:after{
            content: '';
		    background-image: url(../img/nuvem.svg);
		    position: absolute;
		    width: 45px;
		    height: 31px;
		    right: 50px;
		    background-repeat: no-repeat;
		    top: 100px;

	    }
	    .formulario > div input[type="submit"]::after{
	    	content: '';

	    }
@media(max-width: 1200px){
	.hand-quem-somos .hand-destaque-quem-somos .hand-tittulo-destaque{
		padding-top: 200px;
	}
	.hand-quem-somos .hand-destaque-quem-somos{
		height: initial;
		padding-bottom:85px;
		margin-bottom:50px;
	}
	.hand-quem-somos article{
		padding-right: 0;
	}
}
@media(max-width: 768px){
	.hand-quem-somos .hand-container .formulario {
	    padding-top: 0;
	    margin-top: 0;
	}
}

@media (max-width: 635px){
	.hand-quem-somos .hand-destaque-quem-somos .hand-tittulo-destaque h2{
	    font-size: 24px;
	    line-height: 40px;
	}
	.hand-quem-somos .hand-destaque-quem-somos .hand-tittulo-destaque h2 br{
		display: none;
	}
	.hand-quem-somos .hand-destaque-quem-somos .hand-tittulo-destaque {
	    padding-top: 150px;
	}
	.hand-quem-somos .hand-destaque-quem-somos {
	    padding-bottom: 50px;
	}
	.hand-quem-somos article h3{
	    font-size: 22px;
	}
}
.page-template-cases header.hand-header-internas .hand-menu-home ul li a{
	color: #fff;
}
.page-template-cases header.hand-header-internas figure img {
    filter: brightness( 100% );
}
.page-template-cases header.hand-header-internas .hand-button-menu-mobile button{
  filter: brightness( 100% );
}

.page-template-cases .header-content-area{
	background: #766ae7;
}
