
/*
Theme Name:HC Desenvolvimentos
Theme URI: https://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** FONTS
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
*/

  @import url("css/prodMod1.css");
  @import url("css/prodMod2.css");
  @import url("css/prodMod3.css");
  @import url("css/prodMod4.css");
  @import url("css/prodMod5.css");
  @import url("css/quefazemos.css");
  @import url("css/quemSomos.css");
  @import url("css/vagas.css");
  @import url("css/home.css");
  @import url("css/handBlog.css");
  @import url("css/gran.css");
  @import url("css/perguntas-frequentes.css");
  @import url("css/perguntas-frequentes.css");
  
*{
  margin: 0;
  padding: 0;
}

/*DECLARAÇÃO DE VARIÁVEIS*/
 :root{
   
    /* FONTES */
    --hand_OpenSans:'Open Sans', sans-serif;
    --hand_Syncopate:'Syncopate', sans-serif;

    /* CORES FONTS */
    --hand_fontClara:#fff;
    --hand_fontEscura:#1E1E1E;
    --hand_fontPreta:#000;
    --hand_subTituloTopo:#C5A36A;

    /* CORES TEMPLATE */
    --hand_templateBranco:#fff;
    --hand_templatePreto:#000;

    --hand_templateClara:#F4F4F4;
    --hand_templateEscura: #1E1E1E;
    
     /* CORES BOTÕES */
    --hand_btsClara:#fff;
    --hand_btsEscura:#1E1E1E;

    /* FONT SIZE*/
    --hand_sizeTituloPadrao:80px;
    --hand_sizeTextoPadrao:16px;
    --hand_sizeTextoMenor:14px;
    --hand_sizeTextoWeight:600;
   
  
  }

/*BODY*/
	p,h1,h2,h3,h4{
	  margin:0;
	}
	ul{
	  padding: 0;
	  margin:0;
	  list-style: none;
	}
	body{


	}
	img{
		display: inline-block;
		height: auto;
		max-width: 100%;
	}

/*HEADER*/
	header{
		position: absolute;
		background: #000;
		display: block;
		width: 100%;
		padding-top: 100px;
		z-index: 9;
		position: relative;
	}
		header figure{

		}
			header figure img{

			}
			header figure figcaption{

			}
		header .hand-menu-home{
			max-width: 1325px;
			margin: 0 auto;
			padding-top: 5px;
		}
			header .hand-menu-home> ul.menu-nav{
				position: relative;
			}
				header .hand-menu-home> ul.menu-nav li{
					display: inline-block;
					min-width: 163.5px;
				}

					header .hand-menu-home> ul.menu-nav li>a{
						transform: rotate(360deg);	
						color: var(--hand_fontClara);	
						font-family:var(--hand_OpenSans);	
						font-size: var(--hand_sizeTextoMenor);	
						font-weight: var(--hand_sizeTextoWeight);	
						letter-spacing: 1px;	
						line-height: 19px;
						text-transform: uppercase;
						position: relative;
					}
						header .hand-menu-home> ul.menu-nav li>a:before{
							content: "";
							display: block;
							background: url(img/seta_menu.svg);
							width: 14px;
							height: 14px;
							position: absolute;
							right: -30px;
							background-repeat: no-repeat;
							top: 6px;
							opacity: 0.2;
						}
		header .hand-button-menu-mobile{

		}
			header .hand-button-menu-mobile button{
				background-image: url(img/menudrop.svg);
				background-color: transparent;
				height: 18px;
				width: 31px;
				border: none;
				float: right;
			}
				header .hand-button-menu-mobile button span{

				}

/*RODAPÉ*/
	footer{
		padding-top:100px;
	}
		footer .hand-containerLarge{
		    border-top: solid 1px #D8D8D8;
		}
		footer nav{
			padding-top: 80px;
		}
			footer nav ul{

			}
				footer nav ul>li{
					display: inline-block;
					vertical-align: top;
				}
					footer nav ul>li>div ul li{
						display:block;
						vertical-align: top;
					}
				footer nav ul>li.footer-menu{
				    width: 22%;
				}
				footer nav ul>li.redes-sociais-footer{
			       width: 10.7%;
				}
					footer nav ul>li .container-footer-item{
						
					}
					footer nav ul>li strong{
						transform: rotate(360deg);	
						color: var(--hand_fontPreta);	
						font-family: var(--hand_OpenSans);	
						font-size: var(--hand_sizeTextoPadrao);	
						font-weight: var(--hand_sizeTextoWeight);	
						line-height: 22px;
						margin-bottom: 23px;
						display: block;
					}
					footer nav ul>li.redes-sociais-footer a{
						text-decoration: none;
						display: inline-block;
					    width: 31.2%;
				        padding-bottom: 36px;
					}
					footer nav ul>li a img{
						opacity: 0.5;
						max-width: 16px;
					}
					footer nav ul>li.footer-menu a{
						opacity: 0.5;	
						color: #000000;	
						font-family: var(--hand_OpenSans);	
						font-size: var(--hand_sizeTextoMenor);	
						line-height: 28px;
						display: block;
						text-decoration: none;
					}
		footer .copyright{
			padding-top: 100px;
			padding-bottom: 20px;
		}
			footer .copyright p{
				color: #000000;	
				font-family: var(--hand_OpenSans);		
				font-size: var(--hand_sizeTextoMenor);	
				line-height: 19px;
				float: right;
			}
			footer .copyright figure{
			
			}
				footer .copyright figure img{
				
				}
					
/*COPYRIGHT*/

/*ESTILOS GERAIS*/
.owl-carousel .owl-stage-outer{
	padding-bottom: 5px;
}
	.fundoBranco{
		background-color:#fff;
	}
	.hand-destaque-prod nav ul li.ativo-item a{
		opacity: 1;
		font-weight: 600;
	}
	.hand-destaque-prod nav ul li.ativo-item:after {
	    border-bottom: 5px solid #C5A36A;
	    bottom: -2px;
	}
	.template-desktop{
		display: block;
	}
	.template-mobile{
		display: none;
	}
	.template-desktop-sm{
		display: block;
	}
	.template-mobile-sm{
		display: none;
	}
		.hand-destaque-prod nav ul{
			font-size: 0;
		}
			.hand-destaque-prod nav ul li{
				    display: inline-block;
					padding: 0;
					padding-bottom: 59px;
					position: relative;
					width: 100%;
					text-align: center;
			}
			.hand-destaque-prod nav ul li:after{
				content: "";
				display: block;
				width: 100%;
				border-bottom: 1px solid #000;
				position: absolute;
				bottom:0;
				left: 0;
			}
				.hand-destaque-prod nav ul li:hover:after{
					border-bottom: 5px solid #C5A36A;
					bottom: -2px;
				}
				.hand-destaque-prod nav ul li a{
					color: #000000;	
					font-family:var(--hand_OpenSans);	
					font-size: var(--hand_sizeTextoMenor);	
					font-weight: 600;	
					letter-spacing: 1px;	
					line-height: 19px;	
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;

				}
	.ativarSombra{
		display: none;
	}
	.ativarSombra_destaque{

	}
		.ativarSombra_destaque:before{
			content: "";
			display: block;
			width: 100%;
			height: 120%;
			background: #000;
			position: absolute;
			left: 0;
			top: 0;
			z-index:1;
		}	

	.hand-contato-float{
		background-color: #000000;
		padding-top: 100px;
		position: absolute;
		width: 100%;
		top: 160px;
		display: none;
	}
		.hand-contato-float .hand-contato-float-menu{
		
		}
			.hand-contato-float .hand-contato-float-menu ul{
		
			}
				.hand-contato-float .hand-contato-float-menu ul li{
					color: #FFFFFF;	
					font-family: Syncopate;	
					font-size: 25px;	
					font-weight: bold;	
					line-height: 26px;
					margin-bottom: 56px;
					padding-left: 38px;
					position: relative;
				}
					.hand-contato-float .hand-contato-float-menu ul li img{
						position: absolute;
						left: 0;
					}
		.hand-contato-float .hand-contato-float-form{

		}
			.hand-contato-float .hand-contato-float-form h2{
				font-family: Syncopate;
				font-size: 25px;
				font-weight: bold;
				line-height: 26px;
				color: #fff;
				padding-bottom: 26px;
			}
				.hand-contato-float .hand-contato-float-form{

				}
				.hand-contato-float .hand-contato-float-form input[type="text"]{
					height: 50px;	
					width: 514px;	
					border-radius: 4px;	
					background-color: #FFFFFF;
					transform: rotate(360deg);	
					color: #000000;
					font-family: 
					"Open Sans";	
					font-size: 14px;	
					font-weight: 600;	
					line-height: 19px;
					outline: none;
					border:none;
					padding:10px;
					margin-bottom: 18px;
					display: block;
				}
				.hand-contato-float .hand-contato-float-form input[type="submit"]{
					outline: none;
					border:none;
					transform: rotate(360deg);	
					color: #C5A36A;	
					font-family: "Open Sans";	
					font-size: 14px;	
					font-weight: 600;	
					line-height: 19px;
					display: block;
					background: transparent;
				
				}
				
				.hand-contato-float .hand-contato-float-form .hand-contato-float-for-endereco{
					
					padding-top: 75px;
				}	
					.hand-contato-float .hand-contato-float-form .hand-contato-float-for-endereco span{
						transform: rotate(360deg);
						color: #FFFFFF;
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 600;
						line-height: 19px;
					}
					.hand-contato-float .hand-contato-float-form .hand-contato-float-for-endereco p{
						opacity: 0.5;	
						transform: rotate(360deg);	
						color: #FFFFFF;	
						font-family: "Open Sans";	
						font-size: 14px;	
						font-weight: 600;	
						line-height: 19px;
					}		
	.hand-mega-menu{
		min-height: 700px;
		background-color: #000000;
		position: absolute;
		width: 100%;
		margin: 0 auto;
		left: 0;
		top: 16px;
		 display: none; 
		border: none;
		padding-top: 55px;
	}
	header .hand-menu-home> ul.menu-nav li:hover .hand-mega-menu{
		display: block;				
	}
		.hand-mega-menu ul{
			text-align: left;
			width: 100%;
			max-width: 1201px;
			border-top: solid #292929 1px;
			margin: 0;
		}
			.hand-mega-menu ul li{
				width: 400px;
				width: 100%;
				max-width: 33.1%;
				padding-top: 112px;
				padding-bottom: 112px;
				padding-left: 90px;
				min-height: 606px;
				display: inline-block;
				vertical-align: top;
				text-align: left;
			}
			.hand-mega-menu ul li:hover{
				background-color: #C5A36A;
				box-shadow: 0 15px 47px 0 rgba(0,0,0,0.5);
			}
				.hand-mega-menu ul li img{
					display: block;
					margin-bottom: 150px;
				}
				.hand-mega-menu ul li h2{
					color: #FFFFFF;	
					font-family: Syncopate;
					font-size: 25px;	
					font-weight: bold;	
					line-height: 26px;
					margin-bottom: 37px;
				}
					.hand-mega-menu ul li h2 a{
						color: #FFFFFF;
					}
				.hand-mega-menu ul li  p{
					opacity: 0.7;	
					transform: rotate(360deg);	
					color: #FFFFFF;	
					font-family: "Open Sans";	
					font-size: 16px;	
					margin-bottom:19px; 
					line-height: 22px;
					padding-left: 21px;
					position: relative;
				}
				.hand-mega-menu ul li  p:before{
					content: "";
					display: block;
					height: 5px;	
					width: 5px;	
					opacity: 0.2;	
					background-color: #FFFFFF;
					position: absolute;
					left: 0;
					top: 9px;
				}
					.hand-mega-menu ul li p a{
						text-decoration: none;
						color: #FFFFFF;	
					}
	.hand-header-internas{
		background: transparent;
		position: absolute;
	}
	header.hand-header-internas .hand-menu-home ul li a{
		color: var(--hand_fontEscura);
	}
	header.hand-header-internas figure img {
	    filter: brightness( 0% );
	}
	header.hand-header-internas .hand-button-menu-mobile button{
		filter: brightness( 0% );
	}
	header.hand-header-internas .hand-menu-home ul li a:before{
		filter: brightness( 0% );
	}

	.hand-header-internas_clara{
		background: transparent;
		position: absolute;
	}
	header.hand-header-internas_clara .hand-menu-home ul li a{
		color:#fff;
	}
	header.hand-header-internas_clara figure img {
	    filter: brightness( 100% );
	}
	header.hand-header-internas_clara .hand-button-menu-mobile button{
		filter: brightness( 100% );
	}
	header.hand-header-internas_clara .hand-menu-home ul li a:before{
		filter: brightness( 100% );
		opacity: 1;
	}
	/*container full 1600*/
	.hand-containerFull{
		margin: 0 auto;
		width: 100%;
		max-width: 1600px;
		display: block;
		position: relative;
	}

	/*container full 1208*/
	.hand-container{
		margin: 0 auto;
		width: 100%;
		max-width: 1208px;
		display: block;
		position: relative;
	}

	/*container full 1200*/
	.hand-containerLarge{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	/*titulo destaque padrão left*/
	.hand-title-destaque{
		color: var(--hand_fontClara);
		font-family: var(--hand_Syncopate);
		font-size: var(--hand_sizeTituloPadrao);
		font-weight: bold;
		line-height: 86px;
		margin-bottom: 48px;
		text-align: left;
	}
	
	.hand-subTitle-topo{
		color: var(--hand_subTituloTopo);	
		font-family: var(--hand_Syncopate);
		font-size: 18px;	
		line-height: 19px;
	}
	.hand-sub-title h3{
		color: #FFFFFF;	
		font-family: var(--hand_Syncopate);
		font-size: 36px;	
		font-weight: bold;	
		line-height: 49px;
	}
	.hand-sub-title.mobile-title h3{
		display: none;
	}
	.hand-subpage-sub-title h3{
		color: #FFFFFF;	
		font-family: Syncopate;	
		font-size: 35px;	
		font-weight: bold;	
		line-height: 46px;
		text-align: left;
	}

	/*titulo destaque padrão 2*/
	.pg .hand-title-section-home span{
		color: var(--hand_fontEscura);	
		font-family: var(--hand_Syncopate);	
		font-size: var(--hand_sizeTituloPadrao);	
		font-weight: bold;	
		line-height: 86px;
	}
	.pg .hand-title-prod h3{
		color: var(--hand_fontEscura);	
		font-family: var(--hand_Syncopate);	
		font-size: var(--hand_sizeTituloPadrao);	
		font-weight: bold;	
		line-height: 86px;
	}
	/*titulo destaque padrão 2*/
	.pg h3.hand-title-section-home{
		color: #000000;	
		font-family: var(--hand_Syncopate);	
		font-size: 25px;	
		font-weight: bold;	
		line-height: 46px;
	}

	/*titulo destaque padrão center*/
	.hand-title-prod{
		color: var(--hand_fontPreta);	
		font-family: var(--hand_Syncopate);
		font-size: 40px;	
		font-weight: bold;	
		line-height: 41px;	
		text-align: center;
	}
	.hand-title-prod p{
		opacity: 0.5;	
		color: #000000;	
		font-family: "Open Sans";	
		font-size: 16px;	
		line-height: 32px;	
		text-align: center;
		max-width: 724px;
		margin:0 auto;
		width: 100%;
		    font-weight: 500;
	}
	.pg .formatacaoLista ul{
	}
	.pg .formatacaoLista ul li{	
		transform: rotate(360deg);
		color: #000000;
		font-family: var(--hand_OpenSans);
		font-size: var(--hand_sizeTextoPadrao);
		font-weight: 400;
		line-height: 22px;
		display: inline-block;
		min-width: 203px;
		margin-bottom: 26px;
	}
		.pg .formatacaoLista ul li:before{
			content: "";
			display: block;
			height: 5px;
			width: 5px;
			background-color: #000000;
			opacity: 0.2;
			border-radius: 100%;
			display: inline-block;
			vertical-align: middle;
			margin-right: 16px;

		}

	/*paragrafo  padrão*/
	.hand-paragrafo-deatque{
		opacity: 0.6;
		color: var(--hand_fontClara);
		font-family:var(--hand_OpenSans);
		font-size: var(--hand_sizeTextoPadrao);
		letter-spacing: 1px;
		line-height: 26px;
		margin-bottom: 48px;
	}
	.formulario{
		max-width: 534px;
	}
		.formulario h3{
			color: #000000;
			font-family: Syncopate;
			font-size: 35px;
			font-weight: bold;
			line-height: 46px;
			padding-bottom: 32px;
		}
		.formulario div.inputFormat{
			height: 55px;
			width: 208px;
			border: 2px solid #000000;
			border-radius: 4px;
			position: relative;
			cursor: pointer;
			text-align: center;
			padding-top: 14px;
			text-transform: uppercase;
			font-weight: bold;
			display: inline-block;
		}
			.formulario>div input{
				height: 50px;
				max-width: 534px;
				border: 1px solid #C8C8C8;
				border-radius: 4px;
				background-color: #FFFFFF;
				display: block;
				width: 100%;
				transform: rotate(360deg);	
				color: #000000;	
				font-family: "Open Sans";	
				font-size: 14px;	
				font-weight: 600;	
				line-height: 19px;
				padding:10px;
				margin-bottom: 40px;
			}
			.formulario>div input[type="file"]{
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;;
				top: 0;
				cursor: pointer;
				left: 0;
			}
			.formulario>div input[type="submit"]{
				height: 55px;	
				width: 208px;	
				border-radius: 4px;	
				background-color: #000000;
				color: #FFFFFF;	
				font-family: "Open Sans";	
				font-size: 14px;	
				font-weight: 600;	
				line-height: 19px;
				transform: rotate(360deg);
				text-transform: uppercase;
				float: right;
			}
			.formulario>div small{
				color: #000000;
				font-family: "Open Sans";
				font-size: 16px;
				line-height: 32px;
			}
			.formulario>div textarea{
				min-height: 180px;	
				width: 100% ;
				max-height: 180px;	
				max-width: 534px;	
				border: 1px solid #C8C8C8;	
				border-radius: 4px;	
				background-color: #FFFFFF;
				padding:10px;
				margin-top: 35px;
				margin-bottom: 33px;
			}

		.pg section{}
			.pg .hand-link-page{
				display: block;
				height: 55px;	
				line-height: 45px;
				width: 167px;	
				border: 2px solid var(--hand_btsClara);	
				border-radius: 4px;
				color: var(--hand_btsClara);
				text-align: center;
				font-family:var(--hand_OpenSans);
			}
				.pg .hand-link-page:hover{
					color: var(--hand_btsClara);
					text-decoration: none;
				}
			.pg .hand-title-section-home{
                padding-right: 50px;

			}
				
			.pg .hand-formatacao-texto>p{
				opacity: 0.5;	
				color: var(--hand_fontPreta);	
				font-family:var(--hand_OpenSans);
				font-size: var(--hand_sizeTextoPadrao);	
				line-height: 32px;
				opacity: var(--opacityPadrao);
			}	
	.hand-link-prod{
		text-align: center;
		padding-top: 30px;
	}
		.hand-link-prod a{
			transform: rotate(360deg);
			color: #FFFFFF;
			font-family: var(--hand_OpenSans);
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 19px;
			display: inline-block;
			height: 41px;	
		    padding: 0 10px;
			border-radius: 2px;
			background-color: #000000;
			text-align: center;
			text-transform: uppercase;
			line-height: 41px;
			text-decoration: none;
		}
		.hand-link-prod a.especialista{
			display: none
		}	
	.hand-info-prod{
		padding-top: 100px;
	}
		.hand-info-prod span{
			color: var(--hand_fontEscura);	
			font-family: var(--hand_Syncopate);	
			font-size: 18px;	
			line-height: 19px;
		}
		.hand-info-prod h3{
			color: #1E1E1E;	
			font-family: var(--hand_Syncopate);	
			font-size: var(--hand_sizeTituloPadrao);	
			line-height: 86px;
			font-weight: bold;
			padding-top: 40px;
			padding-bottom:40px;
		}
		.hand-info-prod a{
			height: 55px;	
			border: 2px solid #000000;
			border-radius: 4px;
			display: block;
			font-family: var(--hand_OpenSans);
			text-align: center;
			color: #000000;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			line-height: 50px;
			display: inline-block;
			padding: 0 22px;
			text-decoration: none;
		}

		.hand-prod-mod-1{

	}
		.hand-destaque-prod{
			padding-top: 223px;
			background-color: var(--hand_templateClara);
			height: 786px;
			overflow: hidden;
			width: 100%;
			position: relative;
			background-image: url(img/grid-fundo.svg);
			background-repeat: no-repeat;
			background-position: 690px 100%;
		}
			.hand-destaque-prod img{
				position: absolute;
				right: -33%;
				top: 0;
				display: none;
			}
			.hand-destaque-prod article{
				position: relative;
			}
				.hand-destaque-prod article span{
				
				}
				.hand-destaque-prod article h1{
					color: #000;
					margin-bottom: 0;
					padding-top: 15px;
					width: 100%;
					max-width: 780px;
					position: relative;
					left: -8px;
				}
				.hand-destaque-prod article p{
					color: #000;
					padding-bottom: 40px;
					padding-top: 24px;
				}
		.hand-destaque-prod nav{
			
		}
			.hand-destaque-prod nav ul{
				font-size: 0;
			}
				.hand-destaque-prod nav ul li{
					    display: inline-block;
						padding: 0;
						padding-bottom: 59px;
						position: relative;
						width: 100%;
						text-align: center;
				}
				.hand-destaque-prod nav ul li:after{
					content: "";
					display: block;
					width: 100%;
					border-bottom: 1px solid #000;
					position: absolute;
					bottom:0;
					left: 0;
				}
					.hand-destaque-prod nav ul li:hover:after{
						border-bottom: 5px solid #C5A36A;
						bottom: -2px;
					}
					.hand-destaque-prod nav ul li a{
						color: #000000;	
						font-family:var(--hand_OpenSans);	
						font-size: var(--hand_sizeTextoMenor);	
						font-weight: 400;	
						letter-spacing: 1px;	
						line-height: 19px;	
						text-align: center;
						text-transform: uppercase;
						text-decoration: none;
						opacity: 0.4;
					}
					.hand-destaque-prod nav ul li:hover a{
						opacity: 1;
						font-weight: 600;	

					}



/*BLOG*/
	.hand-blog{
		padding-top: 180px;

	}
		.hand-blog .hand-blog-destaque{
			border-top: solid 1px rgba(41, 41, 41, 0.17);
			background-color: #F4F4F4;
			text-align: right;
		}
			.hand-blog .hand-blog-destaque article{
				display: inline-block;
				text-align: left;
				width: 100%;
				max-width: 600px;
			}
				.hand-blog .hand-blog-destaque article p{
					color: #C5A36A;	
					font-family: Syncopate;	
					font-size: 18px;	
					line-height: 19px;
					padding-top: 95px;
					padding-bottom: 40px;
				}
					.hand-blog .hand-blog-destaque article h2{
						color: #000000;	
						font-family: Syncopate;	
						font-size: 35px;	
						font-weight: bold;	
						line-height: 44px;
						padding-bottom: 40px;
					}
					.hand-blog .hand-blog-destaque article a{
						height: 55px;
						border: 2px solid #000000;
						border-radius: 4px;
						display: block;
						font-family: var(--hand_OpenSans);
						text-align: center;
						color: #000000;
						text-transform: uppercase;
						font-weight: 600;
						font-size: 14px;
						line-height: 50px;
						display: inline-block;
						padding: 0 22px;
						text-decoration: none;
					}
			.hand-blog .hand-blog-destaque figure{
				
			}
				.hand-blog .hand-blog-destaque figure a{
				
				}	
					.hand-blog .hand-blog-destaque figure a img{
				
					}
			.hand-post-blog{

			}	
				.hand-post-blog h3{
					color: #000000;	
					font-family: Syncopate;	
					font-size: 18px;	
					line-height: 19px;
					padding: 65px 0 0;
				}
				 ul.grid-post{
					text-align: left;
					padding-top: 80px;
					text-align: left;
					max-width: 1245px;
					margin: 0 auto;
				}
					 ul.grid-post li.single-post{
						max-width: 31%;
						width: 100%;
						display: inline-block;
						margin: 0 12px;
						margin-bottom: 95px;
						position: relative;
						text-align: left;
					}	
						 ul.grid-post li.single-post figure{

						}
							 ul.grid-post li.single-post figure img{

							}
						 ul.grid-post li.single-post span{
								color: #1E1E1E;	
								font-family: Syncopate;	
								font-size: 14px;	
								line-height: 15px;
								max-width: 294px;
								margin: 27px auto;
								display: block;
						}
						 ul.grid-post li.single-post h2{
							color: #000000;
							font-family: Syncopate;
							font-size: 14px;
							font-weight: bold;
							line-height: 23px;
							max-width: 294px;
							margin: 0 auto;
						}
						 ul.grid-post li.single-post .icones{
							max-width: 294px;
							margin: 0 auto;
						}	 ul.grid-post li.single-post .icones ul{
								padding: 0;
	                            margin: 0;
	                            display: flex;
	                            max-width: 294px;
	                            margin: 0 auto;
	                            margin-top: 20px;
                                position: relative;

					    	}	
					    	 ul.grid-post li.single-post .icones ul li{
					    		margin: 0;
                                max-width: 111px;
                                display: flex;
                                flex-direction: row;

					    	}
						    	 ul.grid-post li.single-post .icones ul li.ultimo-item{
						    		margin: auto;
						    		text-align: right;   
						    		display: block;                             

						    	}
						    		ul.grid-post li.single-post .icones ul li.ultimo-item figure{
										position: absolute;
										right: 0;
										top:0;
						    		}
						        	 ul.grid-post li.single-post .icones ul li span{
							    		font-size: 12px;
                                        margin: 10px;
                                        line-height: 2px;
                                        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

							    	}	 
								    	   
					    	     ul.grid-post li.single-post .icones ul li figure{

					    	    }	
			.hand-paginador{
				background-color: #F4F4F4;
			}
				.hand-paginador .hand-btn-left{
					padding-top: 83px;
					padding-bottom: 83px;
					text-align: left;
					display: inline-block;
					width: 100%;
					max-width: 432px;
				}
					.hand-paginador .hand-btn-left a{
						text-decoration: none;
						display: block;
					}
						.hand-paginador a span{
							color: #000000;
							font-family: Syncopate;
							font-size: 18px;
							line-height: 19px;
							padding-bottom: 5px;
							display: block;
						}
							.hand-paginador a p{
								color: #000000;	
								font-family: Syncopate;	
								font-size: 18px;	
								font-weight: bold;	
								line-height: 19px;
							}
				.hand-paginador .hand-btn-right{
					background-color: #C5A36A;
					padding-top: 83px;
					padding-bottom: 83px;
				    padding-left: 80px;
				}
					.hand-paginador .hand-btn-right a{
						text-decoration: none;
						display: block;
					}
						.hand-paginador .hand-btn-right a span{
							color: #fff;
						}
							.hand-paginador .hand-btn-right a p{
								color: #fff;
							}
						






/*HAND VAGAS*/
	.hand-vaga{

	}
		.hand-vaga .hand-perguntas-frequentes-area{

		}
			.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page{
				background-color: #000000;
				height: 681px;
				padding-top: 249px;
			}
				.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page h2{
					color: #FFFFFF;
					font-family: Syncopate;
					font-size: 80px;
					font-weight: bold;
					line-height: 86px;
				}
				.hand-vaga .hand-perguntas-frequentes-area .hand-titulo-page p{
					opacity: 0.6;
					color: #FFFFFF;
					font-family: "Open Sans";
					font-size: 16px;
					letter-spacing: 1px;
					line-height: 22px;
					padding-top: 32px;
				}
			.hand-vaga .hand-perguntas-frequentes-area article{

			}
				.hand-vaga .hand-perguntas-frequentes-area article figure{

				}
				.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo{
					padding-top: 110px;
					max-width: 534px;
				}
					.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo h2{
						color: #000000;
						font-family: Syncopate;
						font-size: 35px;
						font-weight: bold;
						line-height: 46px;
						padding-bottom: 32px;
					}
					.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo ul{
						margin-bottom: 75px;
					}
						.hand-vaga .hand-perguntas-frequentes-area article .hand-area-conteudo ul li{
							display: block;
							opacity: 0.56;
							color: #000000;
							font-family: "Open Sans";
							font-size: 16px;
							line-height: 32px;
							margin-bottom: 0;
							font-weight: normal;

						}	


/*ALL-ABORD*/
	.all-abord{

	}
		.all-abord .hand-perguntas-frequentes-area{

		}
			.all-abord .hand-perguntas-frequentes-area .hand-titulo-page{
				background-color: #000000;
			    height: 498px;
				padding-top: 249px;
			}
				.all-abord .hand-perguntas-frequentes-area .hand-titulo-page h2{
					color: #FFFFFF;
					font-family: Syncopate;
					font-size: 80px;
					font-weight: bold;
					line-height: 86px;
				}
				.all-abord .hand-perguntas-frequentes-area .hand-titulo-page h2:before{
					content: '';
					background-image: url(img/arrow-left.svg);
					position: absolute;
					width: 45px;
					height: 31px;
					right: 50px;
					background-repeat: no-repeat;
					top: 11px;
                    left: -156px;
				}
				.all-abord .hand-perguntas-frequentes-area .hand-titulo-page p{
					opacity: 0.6;
					color: #FFFFFF;
					font-family: "Open Sans";
					font-size: 16px;
					letter-spacing: 1px;
					line-height: 22px;
					padding-top: 32px;
				}
			.all-abord .hand-perguntas-frequentes-area article{

			}
				.all-abord .hand-perguntas-frequentes-area article figure{

				}
				.all-abord .hand-perguntas-frequentes-area article .hand-area-conteudo{
					padding-left: 94px;
					max-width: 628px;
				}
					.all-abord .hand-perguntas-frequentes-area article .hand-area-conteudo h2{
						color: #000000;
						font-family: Syncopate;
						font-size: 35px;
						font-weight: bold;
						line-height: 46px;
						padding-bottom: 32px;
						padding-top: 94px;
					}
					
						.all-abord .hand-perguntas-frequentes-area article .hand-area-conteudo p{
							display: block;
							opacity: 0.56;
							color: #000000;
							font-family: "Open Sans";
							font-size: 16px;
							line-height: 32px;
							margin-bottom: 0;
							font-weight: normal;

						}	
		.all-abord .hand-vagasDisponiveis{
			background-color: #F4F4F4;
			margin-top: 100px;
		}
			.all-abord .hand-vagasDisponiveis figure{

			}
				.all-abord .hand-vagasDisponiveis figure img{

				}
				.all-abord .hand-vagasDisponiveis figure figcaption{

				}
			.all-abord .hand-title-localizacao{

			}
				.all-abord .hand-title-localizacao h3{
					color: #000000;
					font-family: Syncopate;
					font-size: 35px;
					font-weight: bold;
					line-height: 46px;
					padding-top: 134px;
					padding-bottom:32px;
					padding-left: 134px;
				}
			.all-abord .hand-paragrafo-descricao-oqueFazemos{
				max-width: 673px;
			}
				.all-abord .hand-paragrafo-descricao-oqueFazemos p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 16px;
					line-height: 32px;
					padding-left: 134px;
				}
			.all-abord .hand-lista-vagas-disponiveis{
				padding-left: 134px;
			}
				.all-abord .hand-lista-vagas-disponiveis ul{
 					padding-top: 46px;
				}
					.all-abord .hand-lista-vagas-disponiveis ul li{
						height: 83px;	
						max-width: 534px;	
						background-color: #FFFFFF;	
						box-shadow: 0 19px 64px 0 
						rgba(0,0,0,0.1);
						margin-bottom: 28px;
						font-family: Syncopate;	
						font-size: 16px;	
						font-weight: bold;	
						line-height: 29px;
						text-align: left;
						color: #1E1E1E;
						padding-top: 27px;
						padding-left: 119px;
						position: relative;
					}
					.all-abord .hand-lista-vagas-disponiveis ul li img{
						position: absolute;
						left: 50px;
						top: 30px;
					}
/*EXTRAS*/


/*@MEDIA*/
	@media(max-width: 1350px){
		.hand-blog .hand-blog-destaque article h2 {
		    font-size: 25px;
		    line-height: 30px;
		    padding-bottom: 10px;
		}
	}
	@media(max-width: 1300px){
	.hand-containerLarge{
		padding: 0 30px;
		}
		.hand-blog .hand-blog-destaque article{
			padding: 0 30px;
		}
	}
	@media(max-width: 1700px){
		.hand-containerFull{
			padding: 0 30px;
		}
		header .hand-menu-home{
			padding: 0 30px;
		}
		.hand-container{
			padding: 0 30px;
		}
	}
	@media(max-width: 1300px){
		.hand-title-destaque{
			font-size: 61px;
			line-height: 61px;
		}
		footer .hand-containerLarge{
			padding: 0 30px;
		}
		footer nav ul>li.footer-menu {
		    width: 21%;
		}
		footer nav ul>li.redes-sociais-footer a {
		    width: 23.2%;
		}
	}
	@media(max-width: 1200px){
		.pg .hand-title-section-home span {
		    font-size: 65px;
		}
		.hand-sub-title h3 {
		    font-size: 28px;
		}
	}
	@media(max-width: 1100px){
		 ul.grid-post li.single-post{
		    max-width: 41%;
		}
		.hand-paginador .hand-btn-left{
			padding-left:30px; 
		}
	}
	@media(max-width: 991px){
		.hand-blog .hand-blog-destaque article p{
		    padding-top: 20px;
    		padding-bottom: 10px;
		}
		.hand-blog .hand-blog-destaque article h2 br{
			display: none;
		}
		.hand-blog .hand-blog-destaque figure{
			display: none;
		}
		.hand-blog .hand-blog-destaque article{
			max-width: 100%;
		}
		.hand-info-prod {
		    padding-top: 90px;
		}
		.hand-sub-title h3 {
	        font-size: 22px;
		}
		.pg .hand-title-section-home span {
		    font-size: 50px;
	        line-height: 50px;
		}
		.hand-title-destaque{
			font-size: 50px;
			line-height: 50px;
		}
		footer nav ul>li.footer-menu {
		    width: 49%;
		    margin-bottom: 45px;
		}
		footer nav ul>li.redes-sociais-footer {
		    width: 100%;
		    display: block;
		}
		footer nav ul>li.redes-sociais-footer a {
	        width: 15.2%;
		    padding-bottom: 0;
	        text-align: left;
		}
		footer .copyright {
		    padding-top: 30px;
		    padding-bottom: 20px;
		    border-top: solid 1px;
		    margin-top: 30px;
		}
		.template-desktop{
			display:none;
		}
		.template-mobile{
			display: block;
		}

	}
	@media(max-width: 768px){
		.hand-paginador .hand-btn-left{
			display: block;
			padding-top: 31px;
			padding-bottom: 31px;
		}

		.hand-paginador .hand-btn-left a:after, .hand-paginador .hand-btn-right a:after{
		    top: 40px;
		}
		.hand-paginador .hand-btn-right{
			padding-left: 30px;
			padding-top: 31px;
			padding-bottom: 31px;
		}
		.hand-blog .hand-blog-destaque article h2{
			font-size: 20px;
			line-height: 25px;
		}
		.hand-destaque-prod {
		    height: 640px;
		}
		.hand-sub-title.mobile-title h3{
			display: block;
		}
		.hand-sub-title.desktop-title h3{
			display: none;
		}

		div.pg.hand-home>section article p br{
			display: none;
		}
		footer{
			padding-top: 50px;
		}
		header .hand-menu-home{
			display: none;
		}
		header{
		    padding-top: 30px;
		}
		.pg .hand-title-section-home span {
		    font-size: 40px;
		    line-height: 50px;
		}
		.pg .hand-title-prod h3{
		    font-size: 50px;
		    line-height: 55px;
		}
		.hand-info-prod h3{
			font-size: 29px;
			line-height: 37px;
			padding-top: 0;
			padding-bottom: 12px;

		}
		.hand-tile-responsive{
			font-size: 40px!important;
		}
		.template-desktop-sm{
			display:none;
		}
		.template-mobile-sm{
			display: block;
		}
		.hand-post-blog .hand-containerLarge .topo select{
			display: none;
		}
		.hand-post-blog h3 {
		    font-size: 16px;
		    line-height: 19px;
		    padding: 31px 0 0;
		}
		 ul.grid-post {
		    padding-top: 41px;
		}
		 ul.grid-post li.single-post figure img {
		    display: block;
		    width: 100%;
		}
		 ul.grid-post li.single-post{
			margin: 0 0 30px;
		}
	}
	@media (max-width: 690px){
		 ul.grid-post li.single-post {
		    max-width: 100%;
		}
		 ul.grid-post li.single-post figure{
			text-align: center;
		}
	}
	@media (max-width: 635px){
		div.pg.hand-home>section article p{
			font-size: 15px;
			line-height: 20px;
		}
		.hand-title-destaque{
		    font-size: 24px;
		    line-height: 40px;
		}
		.hand-title-destaque{
		    margin-bottom: 20px;
		}
		footer nav ul>li.redes-sociais-footer a {
		    padding-bottom: 0;
	        text-align: center;
		}
		.hand-prod-mod-1 .hand-conteudo-prod article .hand-sub-title h3{
			font-size: 24px;
			line-height: 40px;
		}
		

	}
	@media (max-width: 500px){
		.hand-info-prod h3{
			font-size: 30px;
    		line-height: 37px;
    		padding-top: 0;
    		padding-bottom: 12px;
		}
		.hand-paginador a p {
		    font-size: 12px;
		}
	}